### Server
# 'NODE_ENV' must be injected outside not here.
SERVER_PORT=
SERVER_HOST=

### Database
## Master
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DATABASE_NAME=
## Slaves
# Comma-separated read replica hosts. Empty sends reads to the master.
DATABASE_SLAVE_HOSTS=
DATABASE_SYNC=
DATABASE_DROP_SCHEMA=
DATABASE_LOGGING=
