### Server
# 'NODE_ENV' must be injected outside not here.
SERVER_PORT=
SERVER_HOST=

### Database
## Master
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DATABASE_NAME=
## Slaves
# Comma-separated read replica hosts. Empty sends reads to the master.
DATABASE_SLAVE_HOSTS=
DATABASE_SYNC=
DATABASE_DROP_SCHEMA=
DATABASE_LOGGING=

### Logger
LOGGER_LABEL=
## Console
LOGGER_CONSOLE_ENABLED=
LOGGER_CONSOLE_LEVEL=
# Colorizes the level token.
LOGGER_CONSOLE_RICH_TEXT=
## File
LOGGER_FILE_ENABLED=
LOGGER_FILE_NAME=
LOGGER_FILE_LEVEL=
LOGGER_FILE_MAX_FILES_IN_DAY=
LOGGER_FILE_MAX_SIZE_IN_MB=
